<mat-sidenav-container class="container" >    
             
            <mat-sidenav class="sidenav" mode="side"  opened  
                fixedInViewport="true"  
                *ngIf= "((exibeMenu$ | async) && (isLoggedIn$ | async))"    
                >
                <mat-nav-list class="nav-list"  >  

                    <!--
                    <a   routerLink="/principal"><img src="src/app/imagens/logoSantana2.jpg" width="150" height="60">  </a> 

                    <br>
                    <mat-divider></mat-divider>
                    -->



                    <button mat-mini-fab color="warn"  (click)="alteraEstilo()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>


                    <a mat-list-item  routerLink="/principal">
                        <i class="material-icons">
                            home
                        </i>
                        Início
                    </a>


                    <a mat-list-item  routerLink="/usuario" (click)='alteraEstilo()'>
                        <i class="material-icons">
                          supervised_user_circle
                        </i>
                        Usuarios
                    </a>


                    
                    <a mat-list-item  routerLink="/relatorio"  (click)='alteraEstilo()'  >
                        <i class="material-icons">
                          filter_none
                        </i>
                        Relatórios
                    </a>  
                          
                    <!--
                    <a mat-list-item  routerLink="/cadastros" >
                        <i class="material-icons">
                          domain
                        </i>
                        Redux NGRX
                    </a>         
                    --> 
                    <a mat-list-item  routerLink="/registro" (click)='alteraEstilo()'>
                        <i class="material-icons">
                          group
                        </i>
                        Registro
                    </a>    
                    <mat-divider></mat-divider>
                    <a mat-list-item  (click)="onLogout()">
                        <i class="material-icons">
                          exit_to_app
                        </i>
                        Logout
                    </a>   
                </mat-nav-list>
            </mat-sidenav>   
     

    <mat-sidenav-content class="content">

      <mat-toolbar color="primary"  >
  
        <mat-toolbar-row>
         
            <button mat-icon-button class="example-icon" (click)="exibeMenu()"  *ngIf= "((!(exibeMenu$ | async))  ) && (isLoggedIn$ | async)"   >
              <mat-icon>menu</mat-icon>
            </button>
         
            <span>Santech 2.0h</span>  
            <span class="example-spacer"></span>    
       
    
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>person</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/registro" disabled >
                <mat-icon>group</mat-icon>
                <span>Cadastre-se</span>
              </button>
              <button mat-menu-item disabled >
                <mat-icon>email</mat-icon>
                <span>Esqueceu a senha</span>
              </button>
              <button mat-menu-item (click)="onLogout()"  *ngIf="isLoggedIn$ | async" >  
                <mat-icon>notifications_off</mat-icon>
                <span>logout</span>
              </button>
              <button mat-menu-item routerLink="/login"  *ngIf="!(isLoggedIn$ | async)" >  
                <mat-icon>notifications_in</mat-icon>
                <span>login</span>
              </button>          
            </mat-menu>  
    
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
    
    
    
        </mat-toolbar-row> 
    
    </mat-toolbar>  


        <router-outlet class="alinha"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
