.sidenav {
    background-color: #4c5cb8;
    width: 200px;
}

.sidenav a {
    color: #FFF;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    
    background-color: #FFF;
}
.alinha{
    
    padding: 16px;
}