.example-form-field {
    width: 200px;
  }

  .example-card {
    padding: 20px;
  }

  .formatoTelazzz{
    padding: 40px;
  }


  section {
    display: table;
  }

  .campo{
    width: 100%;
    font-size: 15px;
  }

  .espacoCampo{
     margin-right: 5px;

  }

  table {
    width: 100%;
  }

  .example-spacer {
    flex: 1 1 auto;
  }


  
  .mat-toolbar-row {
    min-height: 50px !important; 
    height: 50px !important;
  }

  .example-container {
    width: 400px;
    height: 200px;
    margin: 12px;
    border: 1px solid #555;
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }