<!--
<mat-drawer-container   [hasBackdrop]=true>
    <mat-drawer #drawer  class="largDrawer"> 

      <button mat-icon-button (click)="drawer.toggle()" color="primary">
        <mat-icon>close</mat-icon>
      </button> 
  -->
      <br>
      Santech 2.0
      
      <br> 
      <button mat-button [matMenuTriggerFor]="menuP">Menu ></button>
      <mat-menu #menuP="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="cadastros">Cadastros</button>
        <button mat-menu-item [matMenuTriggerFor]="relatorios">Relatórios</button>
      </mat-menu>
      
      <mat-menu #cadastros="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="pessoas">Pessoas</button>
        <button mat-menu-item [matMenuTriggerFor]="tabelas">Tabelas</button>
        <button mat-menu-item [matMenuTriggerFor]="movimentos">Movimentos</button>
        <button mat-menu-item>Cálculos</button>
  
      </mat-menu>
      
      <mat-menu #relatorios="matMenu">
        <button mat-menu-item>Saldo de Estoque</button>
        <button mat-menu-item>Contas Contábeis</button> 
      </mat-menu>
      
      <mat-menu #pessoas="matMenu">
        <button mat-menu-item routerLink="usuario"  routerLinkActive="mat-accent">Usuários</button>
        <button mat-menu-item routerLink="cadastro"  routerLinkActive="mat-accent">Relatório</button>
        <button mat-menu-item>Clientes</button>  
      </mat-menu>
      
      <mat-menu #tabelas="matMenu">
        <button mat-menu-item>Centros de Custo</button>
        <button mat-menu-item>Classes de Materiais</button>
        <button mat-menu-item>Tipo de Máquina</button>  
      </mat-menu>
      
      <mat-menu #movimentos="matMenu">
        <button mat-menu-item>Requisição de Materiais</button>
        <button mat-menu-item>Notas Fiscais</button>
        <button mat-menu-item>Contas Contábeis</button>
  
      </mat-menu>  
  
<!--    </mat-drawer>
    <mat-drawer-content> 
  -->
  <mat-toolbar color="primary"  >
  
        <mat-toolbar-row>
          <!--
            <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            -->
            <span>Santech 2.0</span>  
            <span class="example-spacer"></span>   
   
            <button mat-icon-button class="example-icon favorite-icon"  aria-label="Example icon-button with heart icon">
              <mat-icon>person</mat-icon>
            </button> 
  
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>  
  
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
  
        </mat-toolbar-row> 
  
        <mat-toolbar-row>
            <button mat-button [matMenuTriggerFor]="menuP">Menu ></button>
            
  
      </mat-toolbar-row>
  
  </mat-toolbar>  
  
  <router-outlet class="tamRouter"></router-outlet>
          
   
<!--
  
  </mat-drawer-content>
  </mat-drawer-container>
-->
 


  